<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Data</title>
</head>
<body>
    <div class="container">
        <form action="/weatherinfo" method="GET">
        <h1>Weather Data</h1>

            <label for="location">Location:</label>
            <input type="text" id="location" placeholder="Enter location" name="location">
            <button type="submit">Get Weather</button>
        </form>
        <div>
            <h1>WEATHER REPORT</h1>
            <% if(result) { %> <%= JSON.stringify(result) %> <% } %>
        
 
        </div>
        <div>
            <h1>history</h1>

        </div>
    </form>
    </div>
    <script src="server.js"></script>
</body>
</html>
