<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sign Up</title>
<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #2480e3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .signup-container {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 380px;
  }
  .signup-container h2 {
    margin-top: 0;
    padding-left: 75px;
  }
  .input-group {
    margin-bottom: 10px;
  }
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
</style>
</head>
<body>
<div class="signup-container">
  <h2>Sign Up</h2>
  <form action="/signupsubmit" method="GET">
    <div class="input-group">
      <label for="fullname">fullname</label>
      <input type="text" id="fullname" name="fullname" placeholder="fullname" required>
    </div>
    <div class="input-group">
        <label for="lastname">lastname</label>
        <input type="text" id="lastname" name="lastname" placeholder="lastname" required>
      </div>
    <div class="input-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="email" required>
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="password" required>
    </div>
    <div class="input-group">
      <button type="submit" class="btn">submit</button>
    </div>
  </form>
</div>
</body>
</html>
